NodeRed/flow
[
    {
        "id": "c0158c6b.68ffa",
        "type": "tab",
        "label": "Domaine du Merle",
        "disabled": false,
        "info": ""
    },
    {
        "id": "005c451369533684",
        "type": "mqtt out",
        "z": "c0158c6b.68ffa",
        "d": true,
        "name": "Marteliere 1",
        "topic": "v3/merle@ttn/devices/eui-70b3d57ed004c188/down/push",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c87222d8.d2c36",
        "x": 1190,
        "y": 360,
        "wires": []
    },
    {
        "id": "65323c356c8a73a1",
        "type": "function",
        "z": "c0158c6b.68ffa",
        "name": "downlink from context",
        "func": "\nconst bytes = [1];\nmsg.topic = `v3/merle@ttn/devices/eui-70b3d57ed004c188/down`;\n\nmsg.payload = {\n    \"downlinks\": [\n        {\n            \"f_port\": 15,\n            \"frm_payload\":Buffer.from(bytes).toString('base64'),\n            \"priority\": \"NORMAL\"\n        }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 380,
        "wires": [
            [
                "005c451369533684",
                "28ec3d804372b553"
            ]
        ],
        "info": "Creates a downlink for the AppId and DevId known from the last uplink."
    },
    {
        "id": "b2ff2aa9b8e639d7",
        "type": "inject",
        "z": "c0158c6b.68ffa",
        "name": "blue",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 810,
        "y": 380,
        "wires": [
            [
                "65323c356c8a73a1"
            ]
        ]
    },
    {
        "id": "28ec3d804372b553",
        "type": "debug",
        "z": "c0158c6b.68ffa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 400,
        "wires": []
    },
    {
        "id": "f4daadbe414d50d3",
        "type": "function",
        "z": "c0158c6b.68ffa",
        "name": "CF1 - 0",
        "func": "var message = {\n    \"id\":'eui-70b3d57ed004c179',\n    \"name\":'CF 1',\n    \"lat\":43.6429209,\n    \"lon\":5.0165597,\n    \"value\": 0\n};\n\nmsg.payload=message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 40,
        "wires": [
            [
                "069c1990e3102f10",
                "a901c8f458d70ac0"
            ]
        ]
    },
    {
        "id": "1595b1869c2d32d9",
        "type": "inject",
        "z": "c0158c6b.68ffa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1240,
        "y": 40,
        "wires": [
            [
                "f4daadbe414d50d3"
            ]
        ]
    },
    {
        "id": "ca289445ca222ff9",
        "type": "function",
        "z": "c0158c6b.68ffa",
        "name": "CF1 - 1",
        "func": "var message = {\n    \"id\":'eui-70b3d57ed004c179',\n    \"name\":'CF 1',\n    \"lat\":43.6429209,\n    \"lon\":5.0165597,\n    \"value\": 1\n};\n\nmsg.payload=message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 80,
        "wires": [
            [
                "069c1990e3102f10",
                "a901c8f458d70ac0"
            ]
        ]
    },
    {
        "id": "9bcb15377efcf24d",
        "type": "inject",
        "z": "c0158c6b.68ffa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1240,
        "y": 80,
        "wires": [
            [
                "ca289445ca222ff9"
            ]
        ]
    },
    {
        "id": "804fdd461f0b2b57",
        "type": "influxdb out",
        "z": "c0158c6b.68ffa",
        "influxdb": "ef1b568734c2ffb5",
        "name": "",
        "measurement": "watarsensor",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1650,
        "y": 200,
        "wires": []
    },
    {
        "id": "d0afc4f598905cfd",
        "type": "debug",
        "z": "c0158c6b.68ffa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 160,
        "wires": []
    },
    {
        "id": "b48e5a0d334708cf",
        "type": "function",
        "z": "c0158c6b.68ffa",
        "name": "capt 1",
        "func": "var message = {\n    \"id\":'eui-70b3d57ed004c182',\n    \"name\":'WS 2',\n    \"lat\":43.6425719,\n    \"lon\":5.0167257,\n    \"value\": 42\n};\n\nmsg.payload=message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 160,
        "wires": [
            [
                "804fdd461f0b2b57",
                "d0afc4f598905cfd"
            ]
        ]
    },
    {
        "id": "278e5449fd2b6fe5",
        "type": "inject",
        "z": "c0158c6b.68ffa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1230,
        "y": 160,
        "wires": [
            [
                "b48e5a0d334708cf"
            ]
        ]
    },
    {
        "id": "78dba9ebbdbe0429",
        "type": "debug",
        "z": "c0158c6b.68ffa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 240,
        "wires": []
    },
    {
        "id": "408de2ea69864101",
        "type": "function",
        "z": "c0158c6b.68ffa",
        "name": "capt 2",
        "func": "var message = {\"name\":'ws2',\"value\":Math.floor(Math.random() * 100)};\nmsg.payload=message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 240,
        "wires": [
            [
                "78dba9ebbdbe0429",
                "804fdd461f0b2b57"
            ]
        ]
    },
    {
        "id": "3b189cfc61668bb4",
        "type": "inject",
        "z": "c0158c6b.68ffa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1230,
        "y": 240,
        "wires": [
            [
                "408de2ea69864101"
            ]
        ]
    },
    {
        "id": "2daa560d73b82731",
        "type": "influxdb out",
        "z": "c0158c6b.68ffa",
        "influxdb": "ef1b568734c2ffb5",
        "name": "",
        "measurement": "localisations",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1620,
        "y": 300,
        "wires": []
    },
    {
        "id": "c6c4f3362c6b8e6b",
        "type": "function",
        "z": "c0158c6b.68ffa",
        "name": "capt 1",
        "func": "var message = {\"name\":'ws1',\"latitude\":43.6428252,\"longitude\":5.0166597};\nmsg.payload=message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 300,
        "wires": [
            [
                "2daa560d73b82731"
            ]
        ]
    },
    {
        "id": "1e640ac0e4c2c0b2",
        "type": "inject",
        "z": "c0158c6b.68ffa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1230,
        "y": 300,
        "wires": [
            [
                "c6c4f3362c6b8e6b"
            ]
        ]
    },
    {
        "id": "15f3a9f6f62ab08c",
        "type": "mqtt in",
        "z": "c0158c6b.68ffa",
        "name": "WatarSensor 1",
        "topic": "v3/merle@ttn/devices/eui-70b3d57ed004c181/up",
        "qos": "2",
        "datatype": "auto",
        "broker": "c87222d8.d2c36",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 120,
        "wires": [
            [
                "1d9928d0d5345a62"
            ]
        ]
    },
    {
        "id": "1d9928d0d5345a62",
        "type": "json",
        "z": "c0158c6b.68ffa",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 120,
        "wires": [
            [
                "6bc9d65f9df5a39d",
                "e010a5266b22537a"
            ]
        ]
    },
    {
        "id": "6bc9d65f9df5a39d",
        "type": "function",
        "z": "c0158c6b.68ffa",
        "name": "",
        "func": "var message = {\n    \"id\":'eui-70b3d57ed004c181',\n    \"name\":'WS 1',\n    \"lat\":43.6429209,\n    \"lon\":5.0165597,\n    \"value\": msg.payload.uplink_message.decoded_payload.bytes[0] *100/255\n};\n\nmsg.payload=message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            [
                "4d472a8e545228e5",
                "538cc185a5b05b66"
            ]
        ]
    },
    {
        "id": "4d472a8e545228e5",
        "type": "debug",
        "z": "c0158c6b.68ffa",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 120,
        "wires": []
    },
    {
        "id": "538cc185a5b05b66",
        "type": "influxdb out",
        "z": "c0158c6b.68ffa",
        "influxdb": "ef1b568734c2ffb5",
        "name": "hubis watarsensor",
        "measurement": "watarsensor",
        "precision": "",
        "retentionPolicy": "",
        "database": "hubis",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 610,
        "y": 240,
        "wires": []
    },
    {
        "id": "9c9c86b34a64acff",
        "type": "mqtt in",
        "z": "c0158c6b.68ffa",
        "name": "WatarSensor 2",
        "topic": "v3/merle@ttn/devices/eui-70b3d57ed004c182/up",
        "qos": "2",
        "datatype": "auto",
        "broker": "c87222d8.d2c36",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 160,
        "wires": [
            [
                "8ce9eb9f68189a1d"
            ]
        ]
    },
    {
        "id": "8ce9eb9f68189a1d",
        "type": "json",
        "z": "c0158c6b.68ffa",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 160,
        "wires": [
            [
                "f43e0e4064150906"
            ]
        ]
    },
    {
        "id": "f43e0e4064150906",
        "type": "function",
        "z": "c0158c6b.68ffa",
        "name": "",
        "func": "var message = {\n    \"id\":'eui-70b3d57ed004c182',\n    \"name\":'WS 2',\n    \"lat\":43.6429209,\n    \"lon\":5.0165597,\n    \"value\": msg.payload.uplink_message.decoded_payload.bytes[0] *100/255\n};\n\nmsg.payload=message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 160,
        "wires": [
            [
                "538cc185a5b05b66",
                "4d472a8e545228e5"
            ]
        ]
    },
    {
        "id": "0a45f672d02cc26e",
        "type": "mqtt in",
        "z": "c0158c6b.68ffa",
        "name": "WatarSensor 3",
        "topic": "v3/merle@ttn/devices/eui-70b3d57ed004c183/up",
        "qos": "2",
        "datatype": "auto",
        "broker": "c87222d8.d2c36",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 200,
        "wires": [
            [
                "8bab0cb7f670427e"
            ]
        ]
    },
    {
        "id": "8bab0cb7f670427e",
        "type": "json",
        "z": "c0158c6b.68ffa",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 200,
        "wires": [
            [
                "49b0b117da39f06a"
            ]
        ]
    },
    {
        "id": "49b0b117da39f06a",
        "type": "function",
        "z": "c0158c6b.68ffa",
        "name": "",
        "func": "var message = {\n    \"id\":'eui-70b3d57ed004c183',\n    \"name\":'WS 3',\n    \"lat\":43.6429209,\n    \"lon\":5.0165597,\n    \"value\": msg.payload.uplink_message.decoded_payload.bytes[0] *100/255\n};\n\nmsg.payload=message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 200,
        "wires": [
            [
                "538cc185a5b05b66",
                "4d472a8e545228e5"
            ]
        ]
    },
    {
        "id": "143176d0c1d4d166",
        "type": "mqtt in",
        "z": "c0158c6b.68ffa",
        "name": "WatarSensor 4",
        "topic": "v3/merle@ttn/devices/eui-70b3d57ed004c184/up",
        "qos": "2",
        "datatype": "auto",
        "broker": "c87222d8.d2c36",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 240,
        "wires": [
            [
                "55ab2778242194f1"
            ]
        ]
    },
    {
        "id": "55ab2778242194f1",
        "type": "json",
        "z": "c0158c6b.68ffa",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 240,
        "wires": [
            [
                "60265efbc6e25dbb"
            ]
        ]
    },
    {
        "id": "60265efbc6e25dbb",
        "type": "function",
        "z": "c0158c6b.68ffa",
        "name": "",
        "func": "var message = {\n    \"id\":'eui-70b3d57ed004c184',\n    \"name\":'WS 4',\n    \"lat\":43.6429209,\n    \"lon\":5.0165597,\n    \"value\": msg.payload.uplink_message.decoded_payload.bytes[0] *100/255\n};\n\nmsg.payload=message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 240,
        "wires": [
            [
                "538cc185a5b05b66",
                "4d472a8e545228e5"
            ]
        ]
    },
    {
        "id": "9525f623b7b1076f",
        "type": "mqtt in",
        "z": "c0158c6b.68ffa",
        "name": "WatarSensor 5",
        "topic": "v3/merle@ttn/devices/eui-70b3d57ed004c185/up",
        "qos": "2",
        "datatype": "auto",
        "broker": "c87222d8.d2c36",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 280,
        "wires": [
            [
                "3be50341d48fb9f7"
            ]
        ]
    },
    {
        "id": "3be50341d48fb9f7",
        "type": "json",
        "z": "c0158c6b.68ffa",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 280,
        "wires": [
            [
                "70819d9c87277b4a"
            ]
        ]
    },
    {
        "id": "70819d9c87277b4a",
        "type": "function",
        "z": "c0158c6b.68ffa",
        "name": "",
        "func": "var message = {\n    \"id\":'eui-70b3d57ed004c185',\n    \"name\":'WS 5',\n    \"lat\":43.6429209,\n    \"lon\":5.0165597,\n    \"value\": msg.payload.uplink_message.decoded_payload.bytes[0] *100/255\n};\n\nmsg.payload=message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 280,
        "wires": [
            [
                "538cc185a5b05b66",
                "4d472a8e545228e5"
            ]
        ]
    },
    {
        "id": "724246f20f774594",
        "type": "mqtt in",
        "z": "c0158c6b.68ffa",
        "name": "WatarSensor 6",
        "topic": "v3/merle@ttn/devices/eui-70b3d57ed004c186/up",
        "qos": "2",
        "datatype": "auto",
        "broker": "c87222d8.d2c36",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 320,
        "wires": [
            [
                "baa5dd158885d81c"
            ]
        ]
    },
    {
        "id": "baa5dd158885d81c",
        "type": "json",
        "z": "c0158c6b.68ffa",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 320,
        "wires": [
            [
                "c9ab55d7fdd436c6"
            ]
        ]
    },
    {
        "id": "c9ab55d7fdd436c6",
        "type": "function",
        "z": "c0158c6b.68ffa",
        "name": "",
        "func": "var message = {\n    \"id\":'eui-70b3d57ed004c186',\n    \"name\":'WS 6',\n    \"lat\":43.6429209,\n    \"lon\":5.0165597,\n    \"value\": msg.payload.uplink_message.decoded_payload.bytes[0] *100/255\n};\n\nmsg.payload=message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 320,
        "wires": [
            [
                "538cc185a5b05b66",
                "4d472a8e545228e5"
            ]
        ]
    },
    {
        "id": "34f6f092b7fd1e5a",
        "type": "mqtt in",
        "z": "c0158c6b.68ffa",
        "name": "WatarSensor 7",
        "topic": "v3/merle@ttn/devices/eui-70b3d57ed004c187/up",
        "qos": "2",
        "datatype": "auto",
        "broker": "c87222d8.d2c36",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 360,
        "wires": [
            [
                "e66b88ddc0ccbdb0"
            ]
        ]
    },
    {
        "id": "e66b88ddc0ccbdb0",
        "type": "json",
        "z": "c0158c6b.68ffa",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 360,
        "wires": [
            [
                "2de2e1c390125434"
            ]
        ]
    },
    {
        "id": "2de2e1c390125434",
        "type": "function",
        "z": "c0158c6b.68ffa",
        "name": "",
        "func": "var message = {\n    \"id\":'eui-70b3d57ed004c187',\n    \"name\":'WS 7',\n    \"lat\":43.6429209,\n    \"lon\":5.0165597,\n    \"value\": msg.payload.uplink_message.decoded_payload.bytes[0] *100/255\n};\n\nmsg.payload=message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 360,
        "wires": [
            [
                "538cc185a5b05b66",
                "4d472a8e545228e5"
            ]
        ]
    },
    {
        "id": "a13a70323172d69c",
        "type": "mqtt in",
        "z": "c0158c6b.68ffa",
        "name": "CapteurFlowter 2",
        "topic": "v3/merle@ttn/devices/eui-70b3d57ed004c17a/up",
        "qos": "2",
        "datatype": "auto",
        "broker": "c87222d8.d2c36",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 500,
        "wires": [
            [
                "5bb6a0442d124173"
            ]
        ]
    },
    {
        "id": "5bb6a0442d124173",
        "type": "json",
        "z": "c0158c6b.68ffa",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 500,
        "wires": [
            [
                "bd59019d2d53b653"
            ]
        ]
    },
    {
        "id": "bd59019d2d53b653",
        "type": "function",
        "z": "c0158c6b.68ffa",
        "name": "",
        "func": "var message = {\n    \"id\":'eui-70b3d57ed004c17a',\n    \"name\":'CF 2',\n    \"lat\":43.6429209,\n    \"lon\":5.0165597,\n    \"value\": msg.payload.uplink_message.decoded_payload.bytes[0] *100/255\n};\n\nmsg.payload=message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 500,
        "wires": [
            [
                "468d0c9aa0fe9420"
            ]
        ]
    },
    {
        "id": "4387c632d0c3509a",
        "type": "mqtt in",
        "z": "c0158c6b.68ffa",
        "name": "CapteurFlowter 3",
        "topic": "v3/merle@ttn/devices/eui-70b3d57ed004c17b/up",
        "qos": "2",
        "datatype": "auto",
        "broker": "c87222d8.d2c36",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 540,
        "wires": [
            [
                "b8be5a7d4d6730f5"
            ]
        ]
    },
    {
        "id": "b8be5a7d4d6730f5",
        "type": "json",
        "z": "c0158c6b.68ffa",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 540,
        "wires": [
            [
                "22de222e103b2cd7"
            ]
        ]
    },
    {
        "id": "22de222e103b2cd7",
        "type": "function",
        "z": "c0158c6b.68ffa",
        "name": "",
        "func": "var message = {\n    \"id\":'eui-70b3d57ed004c17b',\n    \"name\":'CF 3',\n    \"lat\":43.6429209,\n    \"lon\":5.0165597,\n    \"value\": msg.payload.uplink_message.decoded_payload.bytes[0] *100/255\n};\n\nmsg.payload=message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 540,
        "wires": [
            [
                "468d0c9aa0fe9420"
            ]
        ]
    },
    {
        "id": "f69b614fb33e364f",
        "type": "mqtt in",
        "z": "c0158c6b.68ffa",
        "name": "CapteurFlowter 4",
        "topic": "v3/merle@ttn/devices/eui-70b3d57ed004c17c/up",
        "qos": "2",
        "datatype": "auto",
        "broker": "c87222d8.d2c36",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 580,
        "wires": [
            [
                "45f2d7876b95f36d"
            ]
        ]
    },
    {
        "id": "45f2d7876b95f36d",
        "type": "json",
        "z": "c0158c6b.68ffa",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 580,
        "wires": [
            [
                "91ba1b853deb5585"
            ]
        ]
    },
    {
        "id": "91ba1b853deb5585",
        "type": "function",
        "z": "c0158c6b.68ffa",
        "name": "",
        "func": "var message = {\n    \"id\":'eui-70b3d57ed004c17b',\n    \"name\":'CF 4',\n    \"lat\":43.6429209,\n    \"lon\":5.0165597,\n    \"value\": msg.payload.uplink_message.decoded_payload.bytes[0] *100/255\n};\n\nmsg.payload=message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 580,
        "wires": [
            [
                "468d0c9aa0fe9420"
            ]
        ]
    },
    {
        "id": "5b3ea53e47e28237",
        "type": "mqtt in",
        "z": "c0158c6b.68ffa",
        "name": "CapteurFlowter 5",
        "topic": "v3/merle@ttn/devices/eui-70b3d57ed004c17d/up",
        "qos": "2",
        "datatype": "auto",
        "broker": "c87222d8.d2c36",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 620,
        "wires": [
            [
                "8eae9c914e0959f2"
            ]
        ]
    },
    {
        "id": "8eae9c914e0959f2",
        "type": "json",
        "z": "c0158c6b.68ffa",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 620,
        "wires": [
            [
                "c6ce8540f592e6c8"
            ]
        ]
    },
    {
        "id": "c6ce8540f592e6c8",
        "type": "function",
        "z": "c0158c6b.68ffa",
        "name": "",
        "func": "var message = {\n    \"id\":'eui-70b3d57ed004c17d',\n    \"name\":'CF 5',\n    \"lat\":43.6429209,\n    \"lon\":5.0165597,\n    \"value\": msg.payload.uplink_message.decoded_payload.bytes[0] *100/255\n};\n\nmsg.payload=message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 620,
        "wires": [
            [
                "468d0c9aa0fe9420"
            ]
        ]
    },
    {
        "id": "c8c8556d8cf1462d",
        "type": "mqtt in",
        "z": "c0158c6b.68ffa",
        "name": "CapteurFlowter 6",
        "topic": "v3/merle@ttn/devices/eui-70b3d57ed004c17f/up",
        "qos": "2",
        "datatype": "auto",
        "broker": "c87222d8.d2c36",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 660,
        "wires": [
            [
                "c3942d7d033f1ad8"
            ]
        ]
    },
    {
        "id": "c3942d7d033f1ad8",
        "type": "json",
        "z": "c0158c6b.68ffa",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 660,
        "wires": [
            [
                "62343fc23eb49aa8"
            ]
        ]
    },
    {
        "id": "62343fc23eb49aa8",
        "type": "function",
        "z": "c0158c6b.68ffa",
        "name": "",
        "func": "var message = {\n    \"id\":'eui-70b3d57ed004c17f',\n    \"name\":'CF 6',\n    \"lat\":43.6429209,\n    \"lon\":5.0165597,\n    \"value\": msg.payload.uplink_message.decoded_payload.bytes[0] *100/255\n};\n\nmsg.payload=message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 660,
        "wires": [
            [
                "468d0c9aa0fe9420"
            ]
        ]
    },
    {
        "id": "8794695f5b0a378b",
        "type": "mqtt in",
        "z": "c0158c6b.68ffa",
        "name": "CapteurFlowter 7",
        "topic": "v3/merle@ttn/devices/eui-70b3d57ed004c187/up",
        "qos": "2",
        "datatype": "auto",
        "broker": "c87222d8.d2c36",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 700,
        "wires": [
            [
                "5bcabaeb56235a9b"
            ]
        ]
    },
    {
        "id": "5bcabaeb56235a9b",
        "type": "json",
        "z": "c0158c6b.68ffa",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 700,
        "wires": [
            [
                "d1e9e760cfac7f4d"
            ]
        ]
    },
    {
        "id": "d1e9e760cfac7f4d",
        "type": "function",
        "z": "c0158c6b.68ffa",
        "name": "",
        "func": "var message = {\n    \"id\":'eui-70b3d57ed004c180',\n    \"name\":'CF 7',\n    \"lat\":43.6429209,\n    \"lon\":5.0165597,\n    \"value\": msg.payload.uplink_message.decoded_payload.bytes[0] *100/255\n};\n\nmsg.payload=message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 700,
        "wires": [
            [
                "468d0c9aa0fe9420"
            ]
        ]
    },
    {
        "id": "468d0c9aa0fe9420",
        "type": "influxdb out",
        "z": "c0158c6b.68ffa",
        "influxdb": "ef1b568734c2ffb5",
        "name": "hubis capteurflowter",
        "measurement": "capteurflowter",
        "precision": "",
        "retentionPolicy": "",
        "database": "hubis",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 620,
        "y": 580,
        "wires": []
    },
    {
        "id": "fd1e61a8ec89919b",
        "type": "mqtt in",
        "z": "c0158c6b.68ffa",
        "name": "CapteurFlowter 1",
        "topic": "v3/merle@ttn/devices/eui-70b3d57ed004c179/up",
        "qos": "2",
        "datatype": "auto",
        "broker": "c87222d8.d2c36",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 460,
        "wires": [
            [
                "26a547a24dd7f2f6"
            ]
        ]
    },
    {
        "id": "26a547a24dd7f2f6",
        "type": "json",
        "z": "c0158c6b.68ffa",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 460,
        "wires": [
            [
                "e27373b91b6254e3"
            ]
        ]
    },
    {
        "id": "e27373b91b6254e3",
        "type": "function",
        "z": "c0158c6b.68ffa",
        "name": "",
        "func": "var message = {\n    \"id\":'eui-70b3d57ed004c179',\n    \"name\":'CF 1',\n    \"lat\":43.6429209,\n    \"lon\":5.0165597,\n    \"value\": msg.payload.uplink_message.decoded_payload.bytes[0] *100/255\n};\n\nmsg.payload=message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 460,
        "wires": [
            [
                "468d0c9aa0fe9420"
            ]
        ]
    },
    {
        "id": "e010a5266b22537a",
        "type": "debug",
        "z": "c0158c6b.68ffa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 80,
        "wires": []
    },
    {
        "id": "069c1990e3102f10",
        "type": "influxdb out",
        "z": "c0158c6b.68ffa",
        "influxdb": "ef1b568734c2ffb5",
        "name": "hubis capteurflowter",
        "measurement": "capteurflowter",
        "precision": "",
        "retentionPolicy": "",
        "database": "hubis",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1580,
        "y": 40,
        "wires": []
    },
    {
        "id": "a901c8f458d70ac0",
        "type": "debug",
        "z": "c0158c6b.68ffa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 80,
        "wires": []
    },
    {
        "id": "c87222d8.d2c36",
        "type": "mqtt-broker",
        "name": "Merle",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ef1b568734c2ffb5",
        "type": "influxdb",
        "hostname": "simonmoinard.ddns.net",
        "port": "82",
        "protocol": "http",
        "database": "hubis",
        "name": "",
        "usetls": false,
        "tls": "283a670c.e20a28",
        "influxdbVersion": "1.8-flux",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "283a670c.e20a28",
        "type": "tls-config",
        "name": "Default",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true
    }
]
